* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  main {
    height: 100pc;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  .img{
    width: 100%;
  }
  .cards-session{
    background-color: #fff;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: baseline;
}
.item-news-cards{
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    text-align: justify;
}
.img-news{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px
}
.titulo{
  margin-left: 30px;
  padding-top: 30px;
}
.info{
  margin-left: 30px;
}